@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*General*/ /*General*/ /*General*/ /*General*/

:root {
  --shadow: 2px 4px 44px rgba(0, 0, 0, 0.35);
}

html {
  background-image: linear-gradient(to right, rgba(53, 50, 60, 1), rgba(89, 88, 94, 1));
  font-family: "roboto";
}
body {
  margin: 2vw 2.847vw;
}
/*Header*/ /*Header*/ /*Header*/ /*Header*/

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: var(--shadow);
  width: 100%;
  height: 6.944vw;
  border-radius: 20px;
  background-image: linear-gradient(to right, rgba(19, 19, 19, 1), rgba(57, 57, 57, 1));
}

#eventInfo {
  margin-left: -3vw;
}

header > img {
  box-sizing: border-box;
  width: 16.111vw;
  height: 4.306vw;
}

h1 {
  font-size: 1.3em;
  color: #77c59e;
}

h2 {
  font-size: 1.1em;
  color: rgb(230, 228, 228);
  font-weight: 300;
  margin-top: -0.3vw;
}

/*Buttons*/ /*Buttons*/ /*Buttons*/ /*Buttons*/

#buttons {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 0.8fr 0.9fr;
  gap: 1vw;
  position: relative;
}

.btn {
  padding: 0vw 1.7vw;
  display: flex;
  background-color: #141414;
  color: white;
  border-radius: 45px;
  height: 3.7vw;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn > img {
  margin-right: 1vw;
}

h3 {
  font-weight: 300;
  font-size: 1em;
}

/*Main*/ /*Main*/ /*Main*/ /*Main*/

main {
  display: flex;
  position: relative;
  margin-top: 2vw;
}
main > * {
  border: none;
  border-radius: 20px;
}

iframe {
  display: block;
}

#frameCall {
  width: 78.264vw;
  min-height: 100%;
  margin-right: 3.65vw;
  box-shadow: var(--shadow);
}

#frameCliquer {
  width: 19vw;
  height: 40.3vw;
  box-shadow: var(--shadow);
}
