@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*General*/ /*General*/ /*General*/ /*General*/

:root {
  --shadow: 2px 4px 44px rgba(0, 0, 0, 0.35);
}

html {
  background-image: linear-gradient(to right, rgba(53, 50, 60, 1), rgba(89, 88, 94, 1));
  font-family: "roboto";
}
body {
  margin: 2vw 2.847vw;
  /*   max-width: 1440px;
 */
}
/*Header*/ /*Header*/ /*Header*/ /*Header*/

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: var(--shadow);
  width: 100%;
  height: 6.944vw;
  border-radius: 20px;
  /*background: linear-gradient(90deg, #131313 0%, #393939 100%);*/
  background: linear-gradient(90.04deg, #131313 0.03%, #393939 50%, #77c59e 50%, #3a3a3a 99.96%);
  background-size: 200%;
  background-position: left;
  position: relative;
}

#secondaryBg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(90deg, #77c59e 0%, #393939 100%);
  z-index: 0;
  opacity: 0;
}

.blackToGreen {
  animation: BTGanim 300ms ease-in forwards;
}

@keyframes BTGanim {
  100% {
    opacity: 1;
  }
}

#eventInfo {
  margin-left: -3vw;
}

header > img {
  box-sizing: border-box;
  width: 16.111vw;
  height: 4.306vw;
}

h1 {
  font-size: 1.3em;
  color: #77c59e;
}

h2 {
  font-size: 1.1em;
  color: rgb(230, 228, 228);
  font-weight: 300;
  margin-top: -0.3vw;
}

/*Buttons*/ /*Buttons*/ /*Buttons*/ /*Buttons*/

#buttons {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 0.8fr 0.9fr;
  gap: 1vw;
  position: relative;
  z-index: 2;
}

.btn {
  padding: 0vw 1.7vw;
  display: flex;
  background-color: #141414;
  color: white;
  border-radius: 45px;
  height: 3.7vw;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn > img {
  margin-right: 1vw;
}

h3 {
  font-weight: 300;
  font-size: 1em;
}

.rightToLeftSprievodca {
  position: relative;
  z-index: 2;
  animation: RTLsprievodca 300ms ease-in forwards;
}

@keyframes RTLsprievodca {
  100% {
    margin-left: 21.3vw;
    margin-right: -21.3vw;
  }
}

.rightToLeftNahrat {
  position: relative;
  z-index: 1;
  animation: RTLnahrat 300ms ease-in forwards;
}

@keyframes RTLnahrat {
  100% {
    margin-left: 11vw;
    margin-right: -11vw;
  }
}

.opacityZero {
  animation: opacityZero 3000ms ease-in forwards;
}

@keyframes opacityZero {
  from {
    opacity: 1 !important;
  }

  to {
    opacity: 0 !important;
  }
}

.opacityOne {
  animation: opacityOne 300ms ease-in forwards;
}

@keyframes opacityOne {
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

/*Header after clicked*/ /*Header after clicked*/ /*Header after clicked*/

.btnZavriet {
  position: absolute;
  z-index: 0;
  right: 3vw;
  opacity: 0;
}

#secondaryBg {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #141414;
}

/*sprievodca*/ /*sprievodca*/ /*sprievodca*/ /*sprievodca*/

.arrows {
  width: 0.6vw;
  padding: 2vw;
}

a {
  color: black;
  font-weight: 500;
}

#sprievodcaContent {
  display: grid;
  grid-template-columns: 0.8fr 50vw 0.8fr;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: center;
  margin-left: -20vw;
}

#positions {
  display: flex;
  margin-top: -1vw;
  grid-row: 2;
  grid-column-start: 2;
  justify-self: center;
  justify-content: space-between;
}

.position {
  width: 0.6vw;
  height: 0.6vw;
  margin: 0vw 0.5vw;
  border-radius: 20px;
  background: #47725c;
}

.filled {
  background: #131313;
}
/*Main*/ /*Main*/ /*Main*/ /*Main*/

main {
  display: flex;
  position: relative;
  margin-top: 2vw;
}
main > * {
  border: none;
  border-radius: 20px;
}

iframe {
  display: block;
}

#frameCall {
  width: 78.264vw;
  min-height: 100%;
  margin-right: 3.65vw;
  box-shadow: var(--shadow);
}

#frameCliquer {
  width: 19vw;
  height: 40.3vw;
  box-shadow: var(--shadow);
}

@media screen and (min-width: 1440px) {
  /* body {
    background: yellow;
  } */
}
